---
interface Props {
	id: string;
	href: string;
	dataset: string;
	label: string;
}

const { id, href, dataset, label } = Astro.props;
---

<style>
	dialog{
		padding: unset;
		width: 375px;
		height: 805px;
		border: 3px solid var(--terminal-color) ;
	}
</style>
{
	href == "https://deez.philippemalo.dev" ? (
		<>
			<a id="deez" href={href} data-link={dataset}>
				{label}
			</a>
			<dialog>
				<iframe src={href} frameborder="0" height="800" width="375" />
			</dialog>
		</>
	) : (
		<a id={id} href={href} data-link={dataset}>
			{label}
		</a>
	)
}

<script>
    const explore = document.querySelector('[id="deez"]');
    const browser = document.querySelector("dialog");
    const iframe = document.querySelector("iframe");
    explore.addEventListener("click", (e) => {
        e.preventDefault();
        browser.showModal();
    });
    browser.addEventListener("click", closeDialog);
    function closeDialog(e) {
        if (!iframe.contains(e.target)){
            browser.close();
        }
    }
</script>
